/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-----------------------------------------------------
---------    Priority: Ultra    -----------
-----------------------------------------------------*/
html {
  font-size: 10px;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  height: 100%; }

a {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

/* Prevents adjustments of font size after orientation changes in IE on Windows Phone and in iOS */
html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/***********************************************  
***************   TYPOGRAPHY    ****************
************************************************/
/*****************************************************  
************       MEDIA QUERRIES      ***************
******************************************************/
/********* BREAKPOINT ***********/
/* Small devices (landscape phones, 576px and up)
Medium devices (tablets, 768px and up)
Large devices (desktops, 992px and up)
Extra large devices (large desktops, 1200px and up) */
/*###############################################
#############    02 Media Querry    ###########
################################################*/
/************************************************  
*******      BODY AND ITS COMPONENT      ********
*************************************************/
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

#wrapper-page, main {
  height: 100%; }

.col {
  margin-right: auto;
  margin-left: auto; }

/************************************************  
*************       Z-INDEX         *************
*************************************************/
.row-topmost {
  z-index: 1000; }

.col-nav {
  z-index: 999;
  position: relative; }

.wrapper-banner {
  z-index: 998;
  position: relative; }

.component-adAppendix {
  z-index: 999;
  position: relative; }

/* Extra small device 
$xsBp-max= max-width = 36.9375em;  //575px */
/*
	Content
	00. General for small device
	01. Landing page
		01.00 Header
		01.01 Banner
	02. BannerAppendix
	xx. Miscellaneous
*/
/*###############################################
#######   00. General for small device   ########
################################################*/
.row {
  padding-right: 10%;
  padding-left: 10%; }

.col {
  width: 100%; }

/*###############################################
##############   01. Landing page    ############
################################################*/
.landingPage-layout {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/*###############################################
##############   01.00 Header    ################
################################################*/
.wrapper-header {
  font-size: 1.6rem; }

/*******************************************
*** First row (Welcome row/ mobilemenu) ***/
.wrapper-header .row-welcome {
  background-color: #111; }

.wrapper-header .component-welcome {
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 1em 0;
  color: #FFF;
  font-weight: 400; }
  .wrapper-header .component-welcome .welcomeNote {
    margin-right: auto; }
    .wrapper-header .component-welcome .welcomeNote .wrapper-welcomeIcon {
      color: #ff3215; }
  .wrapper-header .component-welcome .wrapper-socialIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #aaa; }
    .wrapper-header .component-welcome .wrapper-socialIcon .icon {
      padding-right: 0.8em; }
    .wrapper-header .component-welcome .wrapper-socialIcon .facebook {
      font-size: 1em; }
    .wrapper-header .component-welcome .wrapper-socialIcon .twitter {
      font-size: 1.1em; }
    .wrapper-header .component-welcome .wrapper-socialIcon .instagram {
      font-size: 1.2em; }
    .wrapper-header .component-welcome .wrapper-socialIcon .googlePlus {
      font-size: 1.25em; }
  .wrapper-header .component-welcome .register {
    padding-left: 2em;
    color: #ff3215; }

/*####################################
#######   Self addition AND EDIT  ####
######################################*/
.container-hamburger {
  width: 56px;
  height: 42px; }

.pushed .bar:nth-of-type(1) {
  margin-bottom: -1.1em; }

.toggle-icon .bar:nth-of-type(1) {
  -webkit-transition: opacity 1s;
  -webkit-transition: opacity 0.3s ease-in .2s;
  transition: opacity 0.3s ease-in .2s; }

.pushed .bar:nth-of-type(1) {
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms; }

/*############################
####  End of self edit    ####
#############################*/
.container-hamburger {
  font-size: 10px;
  /*increase me to scale toogle-icon*/
  width: 56px;
  height: 42px; }

/*
#nav-container{
  position: absolute;
  top: 50%;
  left: 50%;
  margin:-3em;
}*/
/*toggle-icon*/
.toggle-icon {
  display: block;
  position: relative;
  width: 100%;
  -webkit-transition: margin 600ms;
  transition: margin 600ms;
  cursor: pointer; }

.toggle-icon .bar {
  display: block;
  width: 3.8em;
  height: 0.2em;
  margin: 0.9em;
  border-right: 2.8em solid #fff;
  border-left: 0.6em solid #d6d6d6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
  -webkit-transition-property: margin, border-right-color, -webkit-transform, -webkit-box-shadow;
  transition-property: margin, border-right-color, -webkit-transform, -webkit-box-shadow;
  transition-property: transform, margin, border-right-color, box-shadow;
  transition-property: transform, margin, border-right-color, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms; }

/*  ---EDITED IN SELF-ADDITION AND EDITION--- 
  .toggle-icon .bar:nth-of-type(1) {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
  }
*/
.toggle-icon .bar:nth-of-type(2) {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }

/*pushed*/
.pushed .bar:nth-of-type(1) {
  opacity: 0; }

.pushed .bar:nth-of-type(2) {
  margin-left: 1.4em;
  -webkit-transform: rotate(-137deg) translateY(-1.5em);
  transform: rotate(-137deg) translateY(-1.5em); }

.pushed .bar:nth-of-type(3) {
  margin-left: 0.5em;
  -webkit-transform: rotate(-42deg);
  transform: rotate(-42deg); }

.pushed .toggle-icon:hover .bar:nth-of-type(2) {
  border-right-color: #e9b8b9;
  -webkit-box-shadow: 0.4em 0 0.6em 0.1em rgba(205, 40, 44, 0.75);
          box-shadow: 0.4em 0 0.6em 0.1em rgba(205, 40, 44, 0.75); }

.pushed .toggle-icon:hover .bar:nth-of-type(3) {
  border-right-color: #ddf1da;
  -webkit-box-shadow: 0.4em 0 0.6em 0.1em rgba(83, 228, 68, 0.65);
          box-shadow: 0.4em 0 0.6em 0.1em rgba(83, 228, 68, 0.65); }

/*****************************************
*************   Brand row   *************/
.wrapper-header .container-brandMain .logo-complement {
  /* 129 = ellipse.getTotalLength() */
  /* 129 = ellipse.getTotalLength() */ }
  .wrapper-header .container-brandMain .logo-complement .container-atom {
    width: 100%;
    height: 100%; }
  .wrapper-header .container-brandMain .logo-complement svg.atom {
    max-height: 100vh;
    max-width: 100vw;
    overflow: visible; }
  .wrapper-header .container-brandMain .logo-complement svg circle.kern {
    fill: #FFEA00;
    stroke: none;
    -webkit-filter: drop-shadow(0px 0px 4px #aeea00);
            filter: drop-shadow(0px 0px 4px #aeea00); }
  .wrapper-header .container-brandMain .logo-complement .atom path {
    fill: none;
    stroke: #fff;
    stroke-width: .06;
    stroke-width: .18; }
  .wrapper-header .container-brandMain .logo-complement path.tail {
    stroke: #bda800;
    fill: none;
    -webkit-animation: atom 1.5s infinite linear;
            animation: atom 1.5s infinite linear;
    stroke-dashoffset: 0;
    stroke-dasharray: 20,44.5;
    stroke-width: .6; }
  .wrapper-header .container-brandMain .logo-complement path.electron {
    stroke: #FFEA00;
    fill: none;
    -webkit-animation: atom 1.5s infinite linear;
            animation: atom 1.5s infinite linear;
    stroke-dashoffset: 0;
    stroke-dasharray: .1,64.4;
    stroke-width: 2;
    stroke-linecap: round; }
  .wrapper-header .container-brandMain .logo-complement path.tail1,
  .wrapper-header .container-brandMain .logo-complement path.electron1 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .wrapper-header .container-brandMain .logo-complement path.tail2,
  .wrapper-header .container-brandMain .logo-complement path.electron2 {
    -webkit-animation-delay: -1.4s;
            animation-delay: -1.4s; }
@-webkit-keyframes atom {
  to {
    stroke-dashoffset: 129; } }
@keyframes atom {
  to {
    stroke-dashoffset: 129; } }
.wrapper-header .component-brand {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 2em 0; }
  .wrapper-header .component-brand .container-brandMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto; }
    .wrapper-header .component-brand .container-brandMain .container-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 20.7em;
      height: 3.5em;
      overflow: hidden; }
    .wrapper-header .component-brand .container-brandMain .brand-name {
      font-family: "Lato", sans-serif;
      font-size: 2em;
      font-weight: 600;
      border-radius: 2px;
      color: #000;
      text-transform: uppercase;
      text-indent: -9999px; }
  .wrapper-header .component-brand address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .wrapper-header .component-brand address > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-left: 2em; }
    .wrapper-header .component-brand address > div:first-child {
      padding-left: 0; }
    .wrapper-header .component-brand address > div .wrapper-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #ff3215;
      background-color: #222;
      padding: 0 1em;
      border-radius: 2px; }
    .wrapper-header .component-brand address > div p {
      font-weight: 600;
      font-size: 0.93em;
      padding: 0.2em 0 0.6em 1em;
      line-height: 1.3; }
      .wrapper-header .component-brand address > div p span {
        font-weight: 400;
        font-size: 0.9em; }

/*****************************************
*************   Nav row   ****************/
.wrapper-header .component-nav {
  color: white;
  background-color: #111111; }

.wrapper-header .component-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .wrapper-header .component-nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .wrapper-header .component-nav ul li a {
    padding: 1.5em;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
    .wrapper-header .component-nav ul li a span {
      display: inline-block;
      -webkit-transform: scaleY(0.9);
              transform: scaleY(0.9); }
  .wrapper-header .component-nav ul li:last-child {
    margin-left: auto;
    background-color: #ff3215; }
  .wrapper-header .component-nav ul li:hover a {
    background-color: rgba(155, 125, 55, 0.5); }

/*XXXXXXXXXXXXXXXX  Only mobile specific XXXXXXXXXXXXXXX*/
@media only screen and (max-width: 47.9375em) {
  .wrapper-header {
    		/*
    		
    .container-brandMain {
    	width: 40% !important;
    }
    .container-logo {	
    	width: 100% !important;
    	.logo-complement {
    		width: 100px !important;
    		height: 100px !important;
    		//background: rgb(85,85,85);
    		//background: radial-gradient(circle, rgba(85,85,85,1) 20%, rgba(200,200,200,1) 40%);
    		position: absolute;
    		overflow: visible !important;
    		margin-top: -22px;
    	}
    	img{
    		margin-left: 100px !important;
    		width: 80%;
    	}
    }
    
    
    		*/ }
    .wrapper-header .row-topmost {
      position: fixed;
      width: 100%;
      height: 3.5234375em;
      height: 4em;
      padding-left: 2%;
      padding-right: 2%; }
      .wrapper-header .row-topmost .col {
        height: 100%; }
      .wrapper-header .row-topmost .col .component-mTopBar {
        height: 100%; }
    .wrapper-header .container-brandMain {
      font-size: 1.6rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: auto;
      height: 100%; }
      .wrapper-header .container-brandMain .container-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 20.7em;
        height: 3.5em;
        overflow: hidden; }
      .wrapper-header .container-brandMain .brand-name {
        font-family: "Lato", sans-serif;
        font-size: 2em;
        font-weight: 600;
        border-radius: 2px;
        color: #000;
        text-transform: uppercase;
        text-indent: -9999px; }
      .wrapper-header .container-brandMain .container-logo {
        width: 13.1944444444em;
        height: 2.9166666667em; }
        .wrapper-header .container-brandMain .container-logo .logo-complement {
          margin-left: -5px;
          margin-top: calc(-0.5 * (4em - 42px));
          width: 4em;
          height: 4em;
          overflow: visible; }
        .wrapper-header .container-brandMain .container-logo img {
          width: calc(100% - 4em);
          height: 46.656px;
          margin-top: -3px; }
      .wrapper-header .container-brandMain .brand-name {
        color: white; }
    .wrapper-header .component-welcome {
      padding: 0.5em 0; }
    .wrapper-header .component-nav, .wrapper-header .component-welcome.wrapper-socialIcon {
      display: none; }
    .wrapper-header .component-nav, .wrapper-header .component-welcome {
      padding: 0.5em 0; }
      .wrapper-header .component-nav .wrapper-socialIcon, .wrapper-header .component-welcome .wrapper-socialIcon {
        display: none; }
    .wrapper-header .container-hamburger {
      margin-left: auto; }
    .wrapper-header .row-brand {
      /*top: set in javascript*/ }
    .wrapper-header .col-nav {
      background-color: #111111; } }
/*XXXXXXXXXXXXXX  end of Hidden elements XXXXXXXXXXX*/
/*###############################################
##############     01.01 Banner    ##############
################################################*/
.wrapper-banner {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-bottom: 2em; }

.wrapper-banner .row-heroImage {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/heroImage3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.wrapper-banner .col-heroImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .wrapper-banner .col-heroImage .container-contentHeroImage {
    padding: 9em 5em 9em 0;
    color: white; }
    .wrapper-banner .col-heroImage .container-contentHeroImage .heading {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 2em;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 0.5em; }
      .wrapper-banner .col-heroImage .container-contentHeroImage .heading span {
        display: inline-block;
        padding: 0.1em 0.5em;
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
        text-align: center; }
    .wrapper-banner .col-heroImage .container-contentHeroImage .content {
      font-size: 1.7em;
      line-height: 1.2;
      -webkit-transform: scale(1, 0.8);
              transform: scale(1, 0.8); }
    .wrapper-banner .col-heroImage .container-contentHeroImage .links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 70%;
      margin-top: 2em; }
      .wrapper-banner .col-heroImage .container-contentHeroImage .links a {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 0px;
                flex: 1 1 0;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        border: 2px solid #ff3215;
        padding: 0.8em 1.5em;
        text-align: center; }
        .wrapper-banner .col-heroImage .container-contentHeroImage .links a.performance {
          background-color: #ff3215; }
      .wrapper-banner .col-heroImage .container-contentHeroImage .links a:first-child {
        margin-right: 2em; }

/*###############################################
#############    02 BannerAppendix    ###########
################################################*/
.wrapper-bannerAppendix {
  font-size: 1.6rem;
  margin-top: -2em; }

.wrapper-bannerAppendix .component-adAppendix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .wrapper-bannerAppendix .component-adAppendix .container-ad {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-transform: translate(0, -45%);
            transform: translate(0, -45%);
    color: #fff;
    margin-right: 2em; }
    .wrapper-bannerAppendix .component-adAppendix .container-ad:last-child {
      margin-right: 0; }
  .wrapper-bannerAppendix .component-adAppendix .container-ad .iconWrapper {
    text-align: center; }
    .wrapper-bannerAppendix .component-adAppendix .container-ad .iconWrapper .iconSubWrapper {
      display: inline-block;
      color: #ff3215;
      background-color: #212121;
      border-radius: 50%;
      padding: 2em 3em 4em 3em; }
  .wrapper-bannerAppendix .component-adAppendix .container-ad .textWrapper {
    background-color: #212121;
    padding: 1.5em 2em 1.5em 2em; }
    .wrapper-bannerAppendix .component-adAppendix .container-ad .textWrapper .textWrapper2 {
      margin-top: -1.3em; }
      .wrapper-bannerAppendix .component-adAppendix .container-ad .textWrapper .textWrapper2 * {
        text-align: center; }
      .wrapper-bannerAppendix .component-adAppendix .container-ad .textWrapper .textWrapper2 .label {
        padding-bottom: 0.7em;
        font-weight: 600;
        font-size: 1.2em; }
      .wrapper-bannerAppendix .component-adAppendix .container-ad .textWrapper .textWrapper2 span {
        display: inline-block; }
      .wrapper-bannerAppendix .component-adAppendix .container-ad .textWrapper .textWrapper2 .text {
        line-height: 1.4;
        font-weight: 400;
        color: #bbb; }

/*XXXXXXXXXXXXXXXX  Hidden elements XXXXXXXXXXXXXXX*/
.wrapper-bannerAppendix .container-ad:last-child, .wrapper-bannerAppendix .container-ad:nth-last-child(2), .wrapper-bannerAppendix .container-ad:nth-last-child(3) {
  display: none; }
@media only screen and (max-width: 35.9375em) {
  .wrapper-bannerAppendix .container-ad:nth-last-child(4) {
    margin-right: 0;
    padding: 2em;
    font-size: 0.8em; } }
@media only screen and (min-width: 36em) and (max-width: 48em) {
  .wrapper-bannerAppendix .container-ad:nth-last-child(3) {
    display: block;
    margin-right: 0; } }
@media only screen and (min-width: 48em) and (max-width: 62em) {
  .wrapper-bannerAppendix .container-ad:nth-last-child(2), .wrapper-bannerAppendix .container-ad:nth-last-child(3) {
    display: block; }
  .wrapper-bannerAppendix .container-ad:nth-last-child(2) {
    display: block;
    margin-right: 0; } }
@media only screen and (min-width: 62em) {
  .wrapper-bannerAppendix .container-ad:last-child .wrapper-bannerAppendix .container-ad:nth-last-child(2), .wrapper-bannerAppendix .container-ad:nth-last-child(3) {
    display: block; }
  .wrapper-bannerAppendix .container-ad:last-child {
    display: block;
    margin-right: 0; } }

/*XXXXXXXXXXXXXX  end of Hidden elements XXXXXXXXXXX*/
/*###############################################
##############     02 About Us    ##############
################################################*/
/*Medium devices (tablets, 768px and up)
  min width 48em = 768px
  max-width 61.9375em = 991px */
/*
	Content 
	00. General for small device
	01. Landing page
		01.00 Header
		01.01 Banner
	02. BannerAppendix
	xx. Miscellaneous
*/
@media only screen and (min-width: 48em) {
 	/*###############################################
	#############    02 BannerAppendix    ###########
	################################################*/
  .wrapper-bannerAppendix {
    font-size: 1.3rem; } }
@media screen and (min-width: 48em) and (max-width: 52.8125em) {
  /*###############################################
  #############    02 BannerAppendix    ###########
  ################################################*/ }
@media screen and (max-width: 61.9375em) and (min-width: 57.5em) {
  /*###############################################
  #############    02 BannerAppendix    ###########
  ################################################*/
  .wrapper-bannerAppendix {
    font-size: 1.4rem; } }
/* Large devices (desktops, 992px and up)
   min-width 992px = 62em 
   max-width 1199px =74.9375em */
 /*
	Content
	00. General for small device
	01. Landing page
		01.00 Header
		01.01 Banner
	02. BannerAppendix
	xx. Miscellaneous
*/
@media only screen and (min-width: 62em) {
  /*###############################################
  #############    02 BannerAppendix    ###########
  ################################################*/ }
@media screen and (min-width: 61.9375em) and (max-width: 74.9375em) {
  /*###############################################
  #############    02 BannerAppendix    ###########
  ################################################*/
  .wrapper-bannerAppendix {
    font-size: 1.2rem; }

  .wrapper-bannerAppendix .component-adAppendix .container-ad.notForMobile {
    display: block; }
  .wrapper-bannerAppendix .component-adAppendix .container-ad .textWrapper .textWrapper2 {
    margin-top: -1em; } }
@media screen and (min-width: 67.8125em) and (max-width: 74.9375em) {
  /*###############################################
  #############    02 BannerAppendix    ###########
  ################################################*/
  .wrapper-bannerAppendix {
    font-size: 1.3rem; } }
/* Extra large devices (large desktops, 1200px and up) 
   min-width 1200px = 75em*/
@media only screen and (min-width: 75em) {
  .col {
    max-width: 75em; }

  /*###############################################
  #############    02 BannerAppendix    ###########
  ################################################*/
  .wrapper-bannerAppendix {
    font-size: 1.6rem; } }
