/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-----------------------------------------------------
---------    Priority: Ultra    -----------
-----------------------------------------------------*/
html {
  font-size: 10px;
  height: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  height: 100%; }

a {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

/* Prevents adjustments of font size after orientation changes in IE on Windows Phone and in iOS */
html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/***********************************************  
***************   TYPOGRAPHY    ****************
************************************************/
/*****************************************************  
*****************  media queries  ********************
******************************************************/
/********* BREAKPOINT ***********/
/* Small devices (landscape phones, 576px and up)
Medium devices (tablets, 768px and up)
Large devices (desktops, 992px and up)
Extra large devices (large desktops, 1200px and up) */
/************************************************  
*********  0-BODY AND ITS COMPONENT  ************
*************************************************/
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

#wrapper-page, main {
  height: 100%; }

.row {
  padding-right: 10%;
  padding-left: 10%; }

/* Extra small device */
/*
	Content
	00. Wrapper-page
	01. Landing page
		01.00 Header
		01.01 Banner
	xx. Miscellaneous
*/
/*###############################################
##############   01. Landing page    ############
################################################*/
.landingPage-layout {
  height: 100%;
  display: flex;
  flex-direction: column; }

/*###############################################
##############   01.00 Header    ################
################################################*/
.wrapper-header {
  font-size: 1.6rem; }

/****************************************
************  Welcome row ***************/
.wrapper-header .row-welcome {
  background-color: #111; }

.wrapper-header .col-welcome {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  margin: 0 auto;
  padding: 1em 0;
  color: #FFF;
  font-weight: 400; }
  .wrapper-header .col-welcome .welcomeNote {
    margin-right: auto; }
    .wrapper-header .col-welcome .welcomeNote .wrapper-welcomeIcon {
      color: red; }
  .wrapper-header .col-welcome .wrapper-socialIcon {
    display: flex;
    align-items: center;
    color: #aaa; }
    .wrapper-header .col-welcome .wrapper-socialIcon .icon {
      padding-right: 0.8em; }
    .wrapper-header .col-welcome .wrapper-socialIcon .facebook {
      font-size: 1em; }
    .wrapper-header .col-welcome .wrapper-socialIcon .twitter {
      font-size: 1.1em; }
    .wrapper-header .col-welcome .wrapper-socialIcon .instagram {
      font-size: 1.2em; }
    .wrapper-header .col-welcome .wrapper-socialIcon .googlePlus {
      font-size: 1.25em; }
  .wrapper-header .col-welcome .register {
    padding-left: 2em;
    color: red; }

/*****************************************
*************   Brand row   *************/
.wrapper-header .col-brand {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 2em 0; }
  .wrapper-header .col-brand .container-brandMain {
    margin-right: auto;
    display: flex;
    align-items: center; }
    .wrapper-header .col-brand .container-brandMain .container-logo {
      width: 2.7em;
      height: 2.7em;
      background-color: #ccc;
      overflow: hidden; }
      .wrapper-header .col-brand .container-brandMain .container-logo img {
        width: auto;
        height: 100%; }
    .wrapper-header .col-brand .container-brandMain .brand-name {
      font-family: "Lato", sans-serif;
      font-size: 2em;
      font-weight: 600;
      margin-left: 0.2em;
      border-radius: 2px;
      color: #000;
      text-transform: uppercase; }
  .wrapper-header .col-brand address {
    display: flex;
    align-items: center; }
    .wrapper-header .col-brand address > div {
      display: flex;
      align-items: stretch;
      padding-left: 2em; }
      .wrapper-header .col-brand address > div .wrapper-icon {
        display: flex;
        align-items: center;
        color: red;
        background-color: #222;
        padding: 0 1em;
        border-radius: 2px; }
      .wrapper-header .col-brand address > div p {
        font-weight: 600;
        font-size: 0.93em;
        padding: 0.2em 0 0.6em 1em;
        line-height: 1.3; }
        .wrapper-header .col-brand address > div p span {
          font-weight: 400;
          font-size: 0.9em; }

/*****************************************
*************   Nav row   ****************/
.wrapper-header .col-nav {
  color: white;
  background-color: #000; }

.wrapper-header .col-nav ul {
  display: flex; }
  .wrapper-header .col-nav ul li a {
    padding: 1.5em;
    text-transform: uppercase;
    font-style: 600;
    transition: background-color 0.3s ease; }
    .wrapper-header .col-nav ul li a span {
      display: inline-block;
      transform: scaleY(0.9); }
  .wrapper-header .col-nav ul li:last-child {
    margin-left: auto;
    background-color: red; }
  .wrapper-header .col-nav ul li:hover a {
    background-color: rgba(155, 25, 255, 0.5); }

/*###############################################
##############     01.01 Banner    ##############
################################################*/
.wrapper-banner {
  height: 100%;
  display: flex; }

.wrapper-banner .row.hero-image {
  flex: 1 1 auto;
  background-image: url("../images/heroImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

/*Medium devices (tablets, 768px and up)
  min width 768px = 48em */
/*Large devices (desktops, 992px and up)
  min-width 992px = 62em */
/* Extra large devices (large desktops, 1200px and up) 
   min-width 1200px = 72em*/
@media only screen and (min-width: 72em) {
  .col {
    max-width: 1800px; } }
