/* Extra small device */

/*
	Content
	00. Wrapper-page
	01. Header
	xx. Miscellaneous
*/

/* -------------------------------------------------
-------------   Wrapper-page  ----------------------
-------------------------------------------------- */
#wrapper-page {
}

/* -------------------------------------------------
-------------   HEADER  ----------------------------
-------------------------------------------------- */
header.wrapper {
	font-size: 1.6rem;
}



header.wrapper .row-welcome {
	background-color: #111;
}

header.wrapper .col-welcome {
	display: flex;
	align-items: center;	
	font-size: 0.9em;
	margin: 0 auto;
	padding: 1em 0;	
	color: #FFF;	
	font-weight: $regular-openSans;
	
	//-- Welcome-Note --
	.welcomeNote {
		margin-right: auto;
		.wrapper-welcomeIcon {
			color: red;
		}
	}
	//-- Social Icons --
	.wrapper-socialIcon {
		display: flex;
		align-items: center;
		color: #aaa;
		
		.icon { padding-right: 0.8em; } 
		.facebook {font-size: 1em;}
		.twitter {font-size: 1.1em;}
		.instagram {font-size: 1.2em;}
		.googlePlus {font-size: 1.25em;}
	}
	
	.register {
		padding-left: 2em;
		color: red;
	}
}

header .col-brand {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 2em 0;
	.container-brandMain {
		margin-right: auto;
		display: flex;
		align-items: center;
		.container-logo {
			width: 2.7em;
			height: 2.7em;
			background-color: #ccc;
			overflow: hidden;
			img {width: auto; height: 100%;}
		}
		.brand-name {
			font-family: $lato;
			font-size: 2em;
			font-weight: $bold-openSans;
			margin-left: 0.2em;
			border-radius: 2px;
			//padding: 0.1em 0.15em;
			color: #000;
			text-transform: uppercase;
		}
	}
	address {
		display: flex;
		align-items: center;
		
		>div {
			display: flex;
			align-items: stretch;
			padding-left: 1em;
			
			.wrapper-icon {
				display: flex;
				align-items: center;
				color: red;
				background-color: #222;
				padding: 0 1em;
				border-radius: 2px;
			}
			p {
				font-weight: $bold-openSans;
				font-size: 0.93em;
				padding: 0.1em 0 0.9em 0.8em;
				line-height: 1.2;				
				span {
					font-weight: $regular-openSans;
					font-size: 0.9em;
				}
			}
		}		
	} //End of Address element
}
