/* Extra small device */

/*
	Content
	00. Wrapper-page
	01. Landing page
		01.00 Header
		01.01 Banner
	xx. Miscellaneous
*/








/*###############################################
##############   01. Landing page    ############
################################################*/
.landingPage-layout {
	height: 100%;
	display: flex;
	flex-direction: column;
}
/*###############################################
##############   01.00 Header    ################
################################################*/

.wrapper-header {
	font-size: 1.6rem;
}


/****************************************
************  Welcome row ***************/

.wrapper-header .row-welcome {
	background-color: #111;
}

.wrapper-header .col-welcome {
	display: flex;
	align-items: center;	
	font-size: 0.9em;
	margin: 0 auto;
	padding: 1em 0;	
	color: #FFF;	
	font-weight: $regular-openSans;
	
	//-- Welcome-Note --
	.welcomeNote {
		margin-right: auto;
		.wrapper-welcomeIcon {
			color: red;
		}
	}
	//-- Social Icons --
	.wrapper-socialIcon {
		display: flex;
		align-items: center;
		color: #aaa;
		
		.icon { padding-right: 0.8em; } 
		.facebook {font-size: 1em;}
		.twitter {font-size: 1.1em;}
		.instagram {font-size: 1.2em;}
		.googlePlus {font-size: 1.25em;}
	}
	
	.register {
		padding-left: 2em;
		color: red;
	}
}

/*****************************************
*************   Brand row   *************/

.wrapper-header .row-brand {}
.wrapper-header .col-brand {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 2em 0;
	.container-brandMain {
		margin-right: auto;
		display: flex;
		align-items: center;
		.container-logo {
			width: 2.7em;
			height: 2.7em;
			background-color: #ccc;
			overflow: hidden;
			img {width: auto; height: 100%;}
		}
		.brand-name {
			font-family: $lato;
			font-size: 2em;
			font-weight: $bold-openSans;
			margin-left: 0.2em;
			border-radius: 2px;
			//padding: 0.1em 0.15em;
			color: #000;
			text-transform: uppercase;
		}
	}
	address {
		display: flex;
		align-items: center;
		
		>div {
			display: flex;
			align-items: stretch;
			padding-left: 1em;
			
			.wrapper-icon {
				display: flex;
				align-items: center;
				color: red;
				background-color: #222;
				padding: 0 1em;
				border-radius: 2px;
			}
			p {
				font-weight: $bold-openSans;
				font-size: 0.93em;
				padding: 0.1em 0 0.9em 0.8em;
				line-height: 1.2;				
				span {
					font-weight: $regular-openSans;
					font-size: 0.9em;
				}
			}
		}		
	} //End of Address element
}

/*****************************************
*************   Nav row   ****************/
.wrapper-header .row-nav {}
.wrapper-header .col-nav {
	color: white;
	background-color: #000;
}
.wrapper-header .col-nav ul {
	display: flex;
	li {
		padding: 1.5em;
		text-transform: uppercase;
		font-weight: $bold-lato;
		transition: background-color 0.3s ease;
		a {
			transform: scale(1,0.9);
		}
	}
	li:last-child {
		margin-left: auto;
		background-color: rgba(255,0,0,1);
	}
	li:hover {
		background-color: rgba(255,255,255,0.5);
	}
}

/*###############################################
##############     01.01 Banner    ##############
################################################*/
.wrapper-banner {
	height: 100%;
	display: flex;
}
.wrapper-banner .row.hero-image {
	flex: 1 1 auto;
	background-image: url("../images/heroImage.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}