/* Extra small device */

/*
	Content
	00. Wrapper-page
	01. Landing page
		01.00 Header
		01.01 Banner
	02. About us
	xx. Miscellaneous
*/








/*###############################################
##############   01. Landing page    ############
################################################*/
.landingPage-layout {
	height: 100%;
	display: flex;
	flex-direction: column;
}
/*###############################################
##############   01.00 Header    ################
################################################*/

.wrapper-header {
	font-size: 1.6rem; //16px, 1.6 *10px (body=10px)
}


/****************************************
************  Welcome row ***************/

.wrapper-header .row-welcome {
	background-color: #111;
}

.wrapper-header .col-welcome {
	display: flex;
	align-items: center;	
	font-size: 0.9em;
	margin: 0 auto;
	padding: 1em 0;	
	color: #FFF;	
	font-weight: $regular-openSans;
	
	//-- Welcome-Note --
	.welcomeNote {
		margin-right: auto;
		.wrapper-welcomeIcon {
			color: $primaryRed;
		}
	}
	//-- Social Icons --
	.wrapper-socialIcon {
		display: flex;
		align-items: center;
		color: #aaa;
		
		.icon { padding-right: 0.8em; } 
		.facebook {font-size: 1em;}
		.twitter {font-size: 1.1em;}
		.instagram {font-size: 1.2em;}
		.googlePlus {font-size: 1.25em;}
	}
	
	.register {
		padding-left: 2em;
		color: $primaryRed;
	}
}

/*****************************************
*************   Brand row   *************/

.wrapper-header .row-brand {}
.wrapper-header .col-brand {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 2em 0;
	.container-brandMain {
		margin-right: auto;
		display: flex;
		align-items: center;
		.container-logo {
			width: 2.7em;
			height: 2.7em;
			background-color: #ccc;
			overflow: hidden;
			img {width: auto; height: 100%;}
		}
		.brand-name {
			font-family: $lato;
			font-size: 2em;
			font-weight: $bold-openSans;
			margin-left: 0.2em;
			border-radius: 2px;
			//padding: 0.1em 0.15em;
			color: #000;
			text-transform: uppercase;
		}
	}
	address {
		display: flex;
		align-items: center;
		
		>div {
			display: flex;
			align-items: stretch;
			padding-left: 2em;
			
			.wrapper-icon {
				display: flex;
				align-items: center;
				color: $primaryRed;
				background-color: #222;
				padding: 0 1em;
				border-radius: 2px;
			}
			p {
				font-weight: $bold-openSans;
				font-size: 0.93em;
				padding: 0.2em 0 0.6em 1em;
				line-height: 1.3;				
				span {
					font-weight: $regular-openSans;
					font-size: 0.9em;
				}
			}
		}		
	} //End of Address element
}

/*****************************************
*************   Nav row   ****************/
.wrapper-header .row-nav {}
.wrapper-header .col-nav {
	color: white;
	background-color: rgba(17,17,17,1);
}
.wrapper-header .col-nav ul {
	display: flex;
	
	li {display:flex;}
	li a {
		padding: 1.5em;
		text-transform: uppercase;
		font-weight: $regular-openSans;
		transition: background-color 0.3s ease;
		span {
			display: inline-block; //for transform to work;
			transform: scaleY(0.9);
		}
	}
	li:last-child {
		margin-left: auto;
		background-color: $primaryRed;
		a span {
			//transform: scale(1,1);
		}
	}
	li:hover a{
		background-color: rgba(155,125,55,0.5);
	}
}








/*###############################################
##############     01.01 Banner    ##############
################################################*/
.wrapper-banner {
	display: flex;
	//position: relative -- stated inn "z-index" section in genericStyles.scss 
	//negative margin set in javascript
	font-size: 1.6rem; //16px, 1.6 *10px (body=10px)
	height: 100%;
	padding-bottom: 2em; //maring-top of .wrapper-bannerAppendix is set negatively proportional to it
}

.wrapper-banner .row.hero-image {
	//--- flex ----	
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	//--- general ----
	background-image: url("../images/heroImage.jpg");
	background: gradient(linear, left top, right top, from(#1a82f7), to(#2F2727));
	background: radial-gradient(rgba(87, 87, 87, 0.6), rgba(0, 0, 0, 0.2)), url('../images/heroImage.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: black;
}



//###########################################################################################################
.wrapper-bannerAppendix{
	font-size: 1.6rem;
	margin-top: -2em;
}
.wrapper-bannerAppendix .col.container-adAppendix {		
	.adAppendix {
		display: flex;
		justify-content: space-between;
		//position: relative -- stated inn "z-index" section in genericStyles.scss 
		
		.ad {
			transform: translate(0,-45%);
			color: #fff;
		}
		.ad .iconWrapper {
			text-align: center;
			.iconSubWrapper {
				//negative margin is set in javascript
				display: inline-block;					
				//---general----
				color: $primaryRed;		
				background-color: rgba(33,33,33,1);
				border-radius: 50%;
				padding: 2em 3em 4em 3em;
			.icon {}			}
		} //End of ".ad .iconWrapper"
		
		.ad .textWrapper {
			background-color: rgba(33,33,33,1);
			padding: 1.5em 2em 1.5em 2em;	
			
			.textSubWrapper {				
				margin-top: -1.3em;				

				* {
					text-align: center;
				}
				.label {
					padding-bottom: 0.7em;			
					font-weight: $bold-openSans;
					font-size: 1.2em;
				}		
				span{
					display: inline-block; //for transform
				}
				.text {
					line-height: 1.4;
					font-weight: $regular-openSans;
					color: #bbb;
				}
			}// End of ".textWrapper"
		}//End of --> ".ad .textWrapper"
	}//End of --> ".adAppendix"
}//End of --> ".wrapper-bannerAppendix .col.container-adAppendix"

//##############################################################################################################################

/*###############################################
##############     02 About Us    ##############
################################################*/
.wrapper-aboutUs {

}








/*
.wrapper-banner .col.container-adAppendix {	
	margin-top: auto;
	
	.adAppendix {
		display: flex;
		justify-content: space-between;
		
		.ad {
			transform: translate(0,50%);
			color: #fff;
		}
		.ad .iconWrapper {
			text-align: center;
			.iconSubWrapper {
				//negative margin is set in javascript
				display: inline-block;					
				//---general----
				color: $primaryRed;		
				background-color: rgba(33,33,33,1);
				border-radius: 50%;
				padding: 2em 3em 4em 3em;
			.icon {}			}
		} //End of ".ad .iconWrapper"
		
		.ad .textWrapper {
			background-color: rgba(33,33,33,1);
			padding: 1.5em 2em 1.5em 2em;	
			
			.textSubWrapper {				
				margin-top: -1.5em;				

				* {
					text-align: center;
				}
				.label {
					padding-bottom: 0.7em;			
					font-weight: $bold-openSans;
					font-size: 1.2em;
				}		
				span{
					display: inline-block; //for transform
				}
				.text {
					line-height: 1.4;
					font-weight: $regular-openSans;
					color: #bbb;
				}
			}// End of ".textWrapper"
		}//End of --> ".ad .textWrapper"
	}//End of --> ".adAppendix"
}//End of --> ".wrapper-banner .col.container-adAppendix"
*/