/*Medium devices (tablets, 768px and up)
  min width 48em = 768px
  max-width 61.9375em = 991px */
  
/*
	Content 
	00. General for small device
	01. Landing page
		01.00 Header
		01.01 Banner
	02. BannerAppendix
	xx. Miscellaneous
*/



 @media only screen and (min-width: 48em) {

 	/*###############################################
	#############    02 BannerAppendix    ###########
	################################################*/  
	
	.wrapper-bannerAppendix {
		font-size: 1.3rem;

		.textWrapper .textWrapper2 {
			//margin-top: 1em;
		}
	}

	/*###############################################
	#############    02 About Us    #################
	################################################*/

	.component-aboutUs {
		width: 100%;
		display: flex;
		align-items: flex-end;
		.flexItem1 {flex: 1 1 0; margin-right: 3em;}
		.flexItem2 { 
			display: flex;
			flex-basis: 40%; 
			.container-mainImage {
				height: 27em; 
				//width: 23em; 
				margin-bottom: 0; 
				margin-left: auto
			}
		}
	}



	/*###############################################
	##############     03 Courses    ##############
	################################################*/

	.component-courses .courses {
		flex-direction: row;
		justify-content: space-between;
		@media only screen and (min-width: 51.875em) {
			justify-content: space-around;
			justify-content: space-evenly;
		}
	}

	



 	
 } 













 //XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  SPECIFICS XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
 



@media screen and (min-width: 48em) and (max-width: 52.8125em) {
//52.8125em = 845px
	
	/*###############################################
	#############    02 BannerAppendix    ###########
	################################################*/

	.wrapper-bannerAppendix {
		//font-size: 1.2rem;
	}

}

@media screen and (max-width: 61.9375em) and (min-width: 57.5em) {
//57.5em = 920px
	
	/*###############################################
	#############    02 BannerAppendix    ###########
	################################################*/

	.wrapper-bannerAppendix {
		font-size: 1.4rem;
	}

}