/* Large devices (desktops, 992px and up)
   min-width 992px = 62em 
   max-width 1199px =74.9375em */
  
  

 /*
	Content
	00. General for small device
	01. Landing page
		01.00 Header
		01.01 Banner
	02. BannerAppendix
	xx. Miscellaneous
*/




 @media only screen and (min-width: 62em) {

	/*****************************************
	*************   Brand row   **************/
	.wrapper-header .row-brand {margin-top: 0 !important; } //undoing to margin set by javascript for mobile screen


	/*****************************************
	*************   Nav row   ****************/
	.wrapper-header { 
		.component-welcome .container-hamburger {display: none;}
		//.component-brand .container-brandMain .container-logo {}
		.component-nav {
			@import "02_supersetPartials/desktop/nav/00_hoverEffect";
			
			p {display: none;}
		}
	}//End of .wrapper-header


	/*###############################################
	##############     03 Courses    ##############
	################################################*/
	.wrapper-courses {
		//background-image: url("../images/preview.png");
		//background-image:  
	}
	.component-courses {
		flex-direction: row;
		align-items: center;	
		.description{
			padding: 20px 5px 20px 20px;
			//background-color: #f9f9f9;
			.heading {
				font-size: 39px;
			}
			.subHeading {
				font-size: 17px;
				font-weight: $medium-raleway;
			}
			.descriptionContent {
				font-size: 17px;
				font-weight: $medium-raleway;
			}
		}
		.courses {		
			justify-content: space-between;	
			.courseContainer {
				margin-right: 29px;
				&:last-child {
					margin-right: 0;
				}
			}
			.container2 {
				//width: 389px;
				width: 330px;
				margin-top: 0;
				border: 0px;
				//box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22), 0 25px 55px 0 rgba(0,0,0,0.21);			
				// margin-right: 29px;
			}
			.headingCourse {
				// font-size: 25px;
				font-size: 24px;
				margin-top: 14px;
			}
			.imgContainer {
				height: 235px;
			}
			.buttonSeeDetails {
				img {
					height: 53.1px;
				}
			}
			.ratingContainer {
				margin-top: 11px;
			}
			.courseDescription {
				padding-bottom: 32px;
				padding: 18px 18px 25px 13px;
				p {
					// font-size: 15px;
					font-size: 16px;
					font-family: $raleway;
					font-weight: $medium-raleway;
					text-align: justify;
					word-spacing: 3px;
				}
			}
			.demoClass {
				height: 42px;
				p {font-size: 17px;}
			}
		}
	}

 



 }//End of media query


















 //XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  SPECIFICS XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX



@media screen and (min-width: 61.9375em) and (max-width: 74.9375em) {
	
	/*###############################################
	#############    02 BannerAppendix    ###########
	################################################*/

	.wrapper-bannerAppendix {
		font-size: 1.2rem;
	}
	.wrapper-bannerAppendix .component-adAppendix {
		.container-ad.notForMobile { //not for mobile
			display: block;
		}		
		.container-ad .textWrapper .textWrapper2 {
			margin-top: -1em;
		}
	}//End of .wrapper-bannerAppendix


}



@media screen and (min-width: 67.8125em) and (max-width: 74.9375em) {
//67.8125em = 1085px
	
	/*###############################################
	#############    02 BannerAppendix    ###########
	################################################*/

	.wrapper-bannerAppendix {
		font-size: 1.3rem;
	}

}