/* Large devices (desktops, 992px and up)
   min-width 992px = 62em 
   max-width 1199px =74.9375em */
  
  

 /*
	Content
	00. General for small device
	01. Landing page
		01.00 Header
		01.01 Banner
	02. BannerAppendix
	xx. Miscellaneous
*/




 @media only screen and (min-width: 62em) {


	/*****************************************
	*************   Nav row   ****************/

	.wrapper-header { 
		.component-welcome .container-hamburger {display: none;}
		.component-nav p {display: none;}
	}


 }


















 //XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  SPECIFICS XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX



@media screen and (min-width: 61.9375em) and (max-width: 74.9375em) {
	
	/*###############################################
	#############    02 BannerAppendix    ###########
	################################################*/

	.wrapper-bannerAppendix {
		font-size: 1.2rem;
	}
	.wrapper-bannerAppendix .component-adAppendix {
		.container-ad.notForMobile { //not for mobile
			display: block;
		}		
		.container-ad .textWrapper .textWrapper2 {
			margin-top: -1em;
		}
	}//End of .wrapper-bannerAppendix


}



@media screen and (min-width: 67.8125em) and (max-width: 74.9375em) {
//67.8125em = 1085px
	
	/*###############################################
	#############    02 BannerAppendix    ###########
	################################################*/

	.wrapper-bannerAppendix {
		font-size: 1.3rem;
	}

}