/*###############################################
#############    02 Media Querry    ###########
################################################*/




//mixin for media query of min-max width
@mixin mq($width, $type:min) {
	@if map-has-key($breakpoints, $width){
		$width: map-get($breakpoints, $width);
		@if $type == max {
			$width : ((($width * 16)  - 1)/16); //sass operator condition and "em to px and then back to em"
		}
		@media only screen and (#{$type}-width: $width) {@content;}
	}//End of "if map-has-kay"
}

@mixin mq_min-max($minWidth, $maxWidth) {
	@if map-has-key($breakpoints, $minWidth) and map-has-key($breakpoints, $maxWidth) {
		$minWidth: map-get($breakpoints, $minWidth);
		$maxWidth: map-get($breakpoints, $maxWidth);
		
		@media only screen and (min-width: $minWidth) and (max-width: $maxWidth) { @content; }
	}

}