
/************************************************  
*******      BODY AND ITS COMPONENT      ********
*************************************************/
body {
	//font-size: 16px; (set in set in the 00_intrinsic-scss/_02-normalizeSelfMade.scss)
	font-family: $openSans;
	font-weight: $light-openSans; //300~normal, 600~bold
}
#wrapper-page, main {height: 100%}
.row {
	padding-right: 10%;
	padding-left: 10%;
}

/************************************************  
*************       Z-INDEX         *************
*************************************************/

//-- header>nav & banner -- 
.col-nav {z-index: 999; position: relative;}
.wrapper-banner {z-index: 998; position: relative;}

//-------------BANNER-------------
.wrapper-banner .adAppendix .ad {
	//.iconWrapper {z-index: 995;}
	.iconSubWrapper .icon {
			//z-index: 997;
			//position: relative;
			background-color: red !important; 
	}
	//.textWrapper {z-index: 996; position: relative}
}


/* 
.wrapper-banner .adAppendix .ad {
	.iconSubWrapper {
		z-index:995; 
		position:relative;
		.icon {
			z-index: 997;
			position: relative;
		}
	}
	.textWrapper {z-index: 996; position: relative}
} */