
/************************************************  
*******      BODY AND ITS COMPONENT      ********
*************************************************/
body {
	//font-size: 16px; (set in set in the 00_intrinsic-scss/_02-normalizeSelfMade.scss)
	font-family: $openSans;
	font-weight: $light-openSans; //300~normal, 600~bold
}
#wrapper-page, main {height: 100%}
.row {
	padding-right: 10%;
	padding-left: 10%;
}

/************************************************  
*************       Z-INDEX         *************
*************************************************/

//------- (HEADER>NAV) & BANNER -- 
.col-nav {z-index: 999; position: relative;}
.wrapper-banner {z-index: 998; position: relative;}

//-------------BANNER-------------